/*

---
title: "我对圣经的几点疑问"
date: 2019-01-01
lastmod: 2019-01-01
draft: false
tags: ["圣经", "疑问", "想法"]
categories: ["圣经", "疑问"]

toc: false

---

*/

首先，我想确认一个观点。 
即当一个人向另一个人详细说明什么问题的时候，另外一个人没有听懂。 
另一个人没听懂的原因何在呢？ 
笔者整理了几个理由： 
1. 说者在描述自己的想法时，解释不清。
2. 听者想法简单，没有领悟到说者的意图。 
3. 说者想要说明的问题，本身就是错的。


#### 1. 圣经是神写的吗 
- 基督徒说：“圣经是谁神写的”。 或者说，人受到圣灵的感动，把神所说的一五一十的写了下来。 
真的是这样吗？  我不禁要问，当时的作者真的是受到圣灵的感动，把神想说的，都完全写了下来吗？ 
如果，某个作者把自己的想法参杂到圣经中去，那我们是否能够发现呢？  

#### 2. 因为内容或主旨相似，所以只有神能做到
对于这个理由
这个原因在于，圣经只收录了主旨相似的东西。与主旨相斥的经典则斥其为伪典。 
[伪经 - 维基百科](https://zh.wikipedia.org/wiki/%E5%81%BD%E5%85%B8)
那么，主旨相似的判断是谁做的呢？ 



